In [ ]:
!pip uninstall googletrans
!pip install googletrans==3.1.0a0

In [ ]:
!pip install google_trans_new

Collecting google_trans_new
  Downloading https://files.pythonhosted.org/packages/f9/7b/9f136106dc5824dc98185c97991d3cd9b53e70a197154dd49f7b899128f6/google_trans_new-1.1.9-py3-none-any.whl
Installing collected packages: google-trans-new
Successfully installed google-trans-new-1.1.9

In [ ]:
import pandas as pd
import numpy as np
from googletrans import Translator
from google_trans_new import google_translator  
import os
import re

In [ ]:
train_path = '/content/drive/MyDrive/mediaeval2016/train-ekphrasis.csv'
dev_path = '/content/drive/MyDrive/mediaeval2016/dev-ekphrasis.csv'
test_path = '/content/drive/MyDrive/mediaeval2016/test-ekphrasis.csv'

In [ ]:
train = pd.read_csv(train_path)
train.info()
display(train.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12376 entries, 0 to 12375
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   post_id       12376 non-null  int64
 1   post_text     12376 non-null  object
 2   user_id       12376 non-null  int64
 3   image_id(s)   12376 non-null  object
 4   username      12376 non-null  object
 5   timestamp     12376 non-null  object
 6   label         12376 non-null  object
 7   cleaned_text  12376 non-null  object
 8   enc_label     12376 non-null  int64
dtypes: int64(3), object(6)
memory usage: 870.3+ KB

              post_id  ... enc_label
0  264364835565883393  ...         0
1  262962084801814528  ...         1
2  264415086981038080  ...         0
3  591987644134887425  ...         0
4  263997194540032003  ...         0

[5 rows x 9 columns]

In [ ]:
dev = pd.read_csv(dev_path)
dev.info()
display(dev.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1386 entries, 0 to 1385
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   post_id       1386 non-null   int64
 1   post_text     1386 non-null   object
 2   user_id       1386 non-null   int64
 3   image_id(s)   1386 non-null   object
 4   username      1386 non-null   object
 5   timestamp     1386 non-null   object
 6   label         1386 non-null   object
 7   cleaned_text  1386 non-null   object
 8   enc_label     1386 non-null   int64
dtypes: int64(3), object(6)
memory usage: 97.6+ KB

              post_id  ... enc_label
0  263067887546281984  ...         0
1  263012006943158274  ...         1
2  263218608790970369  ...         0
3  263098784236597248  ...         1
4  264017358262243328  ...         1

[5 rows x 9 columns]

In [ ]:
test = pd.read_csv(test_path)
test.info()
display(test.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1117 entries, 0 to 1116
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   post_id       1117 non-null   int64
 1   post_text     1117 non-null   object
 2   user_id       1117 non-null   float64
 3   username      1117 non-null   object
 4   image_id      1117 non-null   object
 5   timestamp     1117 non-null   object
 6   label         1117 non-null   object
 7   cleaned_text  1117 non-null   object
 8   enc_label     1117 non-null   int64
dtypes: float64(1), int64(2), object(6)
memory usage: 78.7+ KB

              post_id  ... enc_label
0  665333038944002048  ...         1
1  665324167785410560  ...         1
2  665333370205765632  ...         1
3  665326188735295489  ...         1
4  665389341141659648  ...         1

[5 rows x 9 columns]

# Pre-processing

In [ ]:
!pip install ekphrasis

Requirement already satisfied: ekphrasis in /usr/local/lib/python3.6/dist-packages (0.5.1)
Requirement already satisfied: ujson in /usr/local/lib/python3.6/dist-packages (from ekphrasis) (4.0.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from ekphrasis) (1.19.4)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (from ekphrasis) (3.2.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from ekphrasis) (4.41.1)
Requirement already satisfied: termcolor in /usr/local/lib/python3.6/dist-packages (from ekphrasis) (1.1.0)
Requirement already satisfied: nltk in /usr/local/lib/python3.6/dist-packages (from ekphrasis) (3.2.5)
Requirement already satisfied: ftfy in /usr/local/lib/python3.6/dist-packages (from ekphrasis) (5.8)
Requirement already satisfied: colorama in /usr/local/lib/python3.6/dist-packages (from ekphrasis) (0.4.4)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->ekphrasis) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->ekphrasis) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib->ekphrasis) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->ekphrasis) (2.8.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from nltk->ekphrasis) (1.15.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.6/dist-packages (from ftfy->ekphrasis) (0.2.5)

In [ ]:
!pip install tweet-preprocessor

Requirement already satisfied: tweet-preprocessor in /usr/local/lib/python3.6/dist-packages (0.6.0)

In [ ]:
import preprocessor as p

In [ ]:
from ekphrasis.classes.preprocessor import TextPreProcessor
from ekphrasis.classes.tokenizer import SocialTokenizer
from ekphrasis.dicts.emoticons import emoticons

text_processor = TextPreProcessor(
    # terms that will be normalized
    normalize=['url', 'email', 'user'],
    fix_html=True,  # fix HTML tokens
    
    # select a tokenizer. You can use SocialTokenizer, or pass your own
    # the tokenizer, should take as input a string and return a list of tokens
    tokenizer=SocialTokenizer(lowercase=False).tokenize,
    
    # list of dictionaries, for replacing tokens extracted from the text,
    # with other expressions. You can pass more than one dictionaries.
    dicts=[emoticons],
    mode='fast'
)

In [ ]:
translator = google_translator()

In [ ]:
def preprocessing(text):
  p.set_options(p.OPT.RESERVED) #Delete RT
  text = p.clean(text)

  text = re.sub(r'\n', ' ', text)
  text = re.sub(r'\\n', ' ', text)
  text = re.sub(r'(&amp;|&gt;|&lt;)', " ", text) #Delete some special words
  text = " ".join(text_processor.pre_process_doc(text))
  text = re.sub(r"\s+", " ", text)
  
  return text

In [ ]:
translator.translate(preprocessing('RT @alien_vq: ÿßŸÑŸÅŸÜÿßŸÜÿ© ÿßŸÑÿ≥ŸàŸäÿ≥ÿ±Ÿäÿ© ŸÖŸäŸÑŸà ŸÖŸàÿßÿ±ŸäŸá ÿ™ÿ™ÿπÿ±Ÿâ ÿ•ÿ≠ÿ™ÿ¨ÿßÿ¨ÿß ÿπŸÑŸâ ÿßŸÑÿ™ÿ≠ÿ±ÿ¥ ŸÅŸä ÿ£ŸÑŸÖÿßŸÜŸäÿß\\n"ÿßÿ≠ÿ™ÿ±ŸÖŸàŸÜÿßÿåŸÜÿ≠ŸÜ ŸÑÿ≥ŸÜÿß ŸÑÿπÿ®ÿ© ŸÖÿ¨ÿßŸÜŸäÿ© ÿ≠ÿ™Ÿâ ŸàŸÑŸà ŸÉŸÜÿß ÿπÿ±ÿßÿ©'),lang_tgt='en')

'<user>: Swiss artist Milo Moire is undressed in protest against harassment in Germany "Respect us, we are not a free game even if we are naked '

In [ ]:
import tqdm

# train['cleaned_text'] = train['post_text']
# dev['cleaned_text'] = dev['post_text']
# test['cleaned_text'] = test['post_text']

for i in tqdm.tqdm(range(len(train['post_text']))):
  sent = train['cleaned_text'][i]
  # sent = preprocessing(sent)
  train['cleaned_text'][i] = translator.translate(sent,lang_tgt='en')

for i in tqdm.tqdm(range(len(dev['post_text']))):
  sent = dev['cleaned_text'][i]
  # sent = preprocessing(sent)
  dev['cleaned_text'][i] = translator.translate(sent,lang_tgt='en')

for i in tqdm.tqdm(range(len(test['post_text']))):
  sent = test['cleaned_text'][i]
  # sent = preprocessing(sent)
  test['cleaned_text'][i] = translator.translate(sent,lang_tgt='en')

  0%|          | 0/12376 [00:00<?, ?it/s]/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 12376/12376 [10:25<00:00, 19.77it/s]
  0%|          | 0/1386 [00:00<?, ?it/s]/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 1386/1386 [01:09<00:00, 20.05it/s]
  0%|          | 0/1117 [00:00<?, ?it/s]/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 1117/1117 [01:07<00:00, 16.48it/s]

In [ ]:
train['enc_label'] = train['label']
train['enc_label'] = train['enc_label'].apply(lambda x: 1 if x=='fake' else 0)
dev['enc_label'] = dev['label']
dev['enc_label'] = dev['enc_label'].apply(lambda x: 1 if x=='fake' else 0)
test['enc_label'] = test['label']
test['enc_label'] = test['enc_label'].apply(lambda x: 1 if x=='fake' else 0)

In [ ]:
display(train.head()), display(dev.head()), display(test.head())

              post_id  ... enc_label
0  264364835565883393  ...         0
1  262962084801814528  ...         1
2  264415086981038080  ...         0
3  591987644134887425  ...         0
4  263997194540032003  ...         0

[5 rows x 9 columns]

              post_id  ... enc_label
0  263067887546281984  ...         0
1  263012006943158274  ...         1
2  263218608790970369  ...         0
3  263098784236597248  ...         1
4  264017358262243328  ...         1

[5 rows x 9 columns]

              post_id  ... enc_label
0  665333038944002048  ...         1
1  665324167785410560  ...         1
2  665333370205765632  ...         1
3  665326188735295489  ...         1
4  665389341141659648  ...         1

[5 rows x 9 columns]

(None, None, None)

In [ ]:
train.to_csv('/content/drive/MyDrive/mediaeval2016/train-ekphrasis.csv',index=False)
dev.to_csv('/content/drive/MyDrive/mediaeval2016/dev-ekphrasis.csv',index=False)
test.to_csv('/content/drive/MyDrive/mediaeval2016/test-ekphrasis.csv',index=False)

In [ ]:
test.iloc[739]['cleaned_text']

'<user> : ÿßŸÑŸÅŸÜÿßŸÜÿ© ÿßŸÑÿ≥ŸàŸäÿ≥ÿ±Ÿäÿ© ŸÖŸäŸÑŸà ŸÖŸàÿßÿ±ŸäŸá ÿ™ÿ™ÿπÿ±Ÿâ ÿ•ÿ≠ÿ™ÿ¨ÿßÿ¨ÿß ÿπŸÑŸâ ÿßŸÑÿ™ÿ≠ÿ±ÿ¥ ŸÅŸä ÿ£ŸÑŸÖÿßŸÜŸäÿß " ÿßÿ≠ÿ™ÿ±ŸÖŸàŸÜÿß ÿå ŸÜÿ≠ŸÜ ŸÑÿ≥ŸÜÿß ŸÑÿπÿ®ÿ© ŸÖÿ¨ÿßŸÜŸäÿ© ÿ≠ÿ™Ÿâ ŸàŸÑŸà ŸÉŸÜÿß ÿπÿ±ÿßÿ© ! " https :// t ‚Ä¶'

In [ ]:
translator.translate(test.iloc[2]['post_text']).text

'RT @Javivi1976: #Bataclan esta noche antes de los atentados. @playradiovlc https://t.co/ThfGdHtIjg'

In [ ]:
preprocessing(test.iloc[739]['post_text'])